<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <meta property="og:image" content="http://buhuchet38.ru/images/accounting.jpeg"/>
        <meta property="og:title" content="БухУчет 38"/>
        <meta property="og:description" content="Бухгалтерские услуги в г. Иркутск"/>

        <title>Бухучет38</title>
        <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
        <script type="text/javascript" src="//platform-api.sharethis.com/js/sharethis.js#property=58edcdea17d2e20012e39b5d&product=inline-share-buttons"></script>
    </head>

    <body>
        <header class="sans-serif">
            <div class="cover bg-left bg-center-l" style="background-image: url(/images/accounting.jpeg)">
                <div class="bg-black-60 pb3 pb4-m pb5-l">
                    <nav class="dt w-100 center f6 fw6 ttu tracked">
                        <div class="tr bg-black-60 fixed w-100 ph3 pv3 pv4-ns ph4-m ph5-l" id="fixed-menu" data-scroll-header>
                          <%= if home_page?(@view_module, @view_template) do %>
                            <a class="link dim white dib mr0 mr3-ns mb3 mb0-ns mb3-m" href="#services" data-scroll >Цены и услуги</a>
                            <a class="link dim white dib mr3 mb3 mb0-ns" href="#fields"data-scroll>Сферы деятельности</a>
                            <a class="link dim white dib mr0 mr3-ns mr0-m" href="#contact" data-scroll>Контакты</a>
                            <a class="link dim white dib tc" href="#message" data-scroll>Напишите нам</a>
                          <% else %>
                            <a class="link dim white dib mr3 mb3 mb0-ns" href="/">Главная</a>
                            <a class="link dim white dib mr0 mr0-ns mr0-m" href="/articles" data-scroll>Статьи</a>
                          <% end %>
                        </div>
                    </nav>
                    <div class="tc-l mt6 ph3">
                        <%= if flash = get_flash(@conn, :info) do %>
                            <div class="flex items-center justify-center pa4 bg-lightest-blue navy">
                                <svg class="w1" data-icon="info" viewBox="0 0 32 32" style="fill:currentcolor">
                                    <title>info icon</title>
                                    <path d="M16 0 A16 16 0 0 1 16 32 A16 16 0 0 1 16 0 M19 15 L13 15 L13 26 L19 26 z M16 6 A3 3 0 0 0 16 12 A3 3 0 0 0 16 6"></path>
                                </svg>
                                <span class="lh-title ml3"><%= flash %></span>
                            </div>
                        <% end %>
                        <h1 class="f2 f1-l fw2 white-90 mb0 lh-title">Бухгалтерские услуги от компании БухУчет38</h1>
                        <h2 class="fw1 f3 white-80 mt3 mb4">Предоставляем налоговые консультации и бухгалтерские услуги для Вас и Вашей компании</h2>
                    </div>
                </div>
            </div> 
        </header>
        <main role="main">
            <%= render @view_module, @view_template, assigns %>
        </main>
        <footer class="bg-light-gray black-80 pv5 pv6-l ph4">
            <div class="wrapper mw8 center">
                <p class="f6"><span class="dib mr4 mr5-ns">©2017 БухУчет38</span>
                    <a class="link black-80 hover-green" href="#">info@buhuchet38.ru </a>/
                    <span class=""> +7 902 767 49 01 </span>
                </p>
            </div>
        </footer>
        <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    </body>
</html>

