<article class="center bg-light-gray bb b--light-silver pb5" id="articles">
  <h2 class="f1-ns f2 dib w-100 tc dark-gray mt5 pv3 mb0 pb0">Полезные статьи</h2>
  <div class="mw8 services center mt3">
    <div class="pa4 lh-copy">
      <ul>
        <li>
          <%= link "Выгоды бухгалтерского аутсорсинга для малого бизнеса", to: article_path(@conn, :show, "benefits.html"), class: "f4 fw6 db black link hover-purple" %> </li>
      </ul>
    </div>
  </div>
</article>
