/* This file is for your main application css. */
#fixed-menu {
    z-index: 9;
}

/* temp. remove card effect */
.services > div > div > div{
    border: none;
    box-shadow: none;
    background-color: #eee;
}
