<article class="center bg-light-gray bb b--light-silver pb5" id="services">
    <h2 class="f1-ns f2 dib w-100 tc dark-gray mt5 pv3 mb0 pb0"> Цены и услуги </h2>
    <div class="mw8 services center mt3">
        <div class="cf ph2-ns cl">
            <div class="fl w-100 w-25-ns ph4 pv1 pa1-ns">
                <div class="shadow-4 bg-animate hover-bg-washed-blue bg-white br3 pa2 mv3 ba b--black-10">
                  <a href="/articles">
                    <div class="tc">
                        <h1 class="f4">Полезные статьи</h1>
                    </div>
                  </a>
                </div>
            </div>
            <div class="fl w-100 w-25-ns ph4 pv1 pa1-ns h-25">
                <div class="shadow-4 bg-animate hover-bg-washed-blue bg-white br3 pa2 mv3 ba b--black-10">
                    <div class="tc">
                        <h1 class="f4">Регистрация</h1>
                        <hr class="mw3 bb bw1 b--black-10">
                    </div>
                    <p class="lh-copy center tc f7 black-70 pb1">
                        ООО, ИП, ДНТ, ТСЖ
                    </p>
                    <!-- <p class="center tc f2 black-90 ma0 pb2">
                        3000 ₽
                    </p> -->
                </div>
            </div>
            <div class="fl w-100 w-25-ns ph4 pv1 pa1-ns h-25">
                <div class="shadow-4 bg-animate hover-bg-washed-blue bg-white br3 pa2 mv3 ba b--black-10">
                    <div class="tc">
                        <h1 class="f4">Внесение изменений</h1>
                        <hr class="mw3 bb bw1 b--black-10">
                    </div>
                    <p class="lh-copy center tc f7 black-70 pb1">
                        ООО, ИП, ДНТ, ТСЖ
                    </p>
                </div>
            </div>
            <div class="fl w-100 w-25-ns ph4 pv1 pa1-ns">
                <div class="shadow-4 bg-animate hover-bg-washed-blue bg-white br3 pa2 mv3 ba b--black-10">
                    <div class="tc">
                        <h1 class="f4">Ликвидация </h1>
                        <hr class="mw3 bb bw1 b--black-10">
                    </div>
                    <p class="lh-copy center tc f7 black-70 pb1">
                        ООО, ИП, ДНТ, ТСЖ
                    </p>
                </div>
            </div>
            <div class="fl w-100 w-25-ns ph4 pv1 pa1-ns cl">
                <div class="shadow-4 bg-animate hover-bg-washed-blue bg-white br3 pa2 mv3 ba b--black-10">
                    <div class="tc">
                        <h1 class="f4">Ведение бухгалтерского и налогового учета</h1>
                    </div>
                </div>
            </div>
            <div class="fl w-100 w-25-ns ph4 pv1 pa1-ns">
                <div class="shadow-4 bg-animate hover-bg-washed-blue bg-white br3 pa2 mv3 ba b--black-10">
                    <div class="tc">
                        <h1 class="f4">Восстановление бухгалтерского и налогового учета</h1>
                    </div>
                </div>
            </div>
            <div class="fl w-100 w-25-ns ph4 pv1 pa1-ns">
                <div class="shadow-4 bg-animate hover-bg-washed-blue bg-white br3 pa2 mv3 ba b--black-10">
                    <div class="tc">
                        <h1 class="f4">Составление первичных документов</h1>
                    </div>
                </div>
            </div>
            <div class="fl w-100 w-25-ns ph4 pv1 pa1-ns">
                <div class="shadow-4 bg-animate hover-bg-washed-blue bg-white br3 pa2 mv3 ba b--black-10">
                    <div class="tc">
                        <h1 class="f4">Сдача нулевой отчетности и отчетности по вашим данным</h1>
                    </div>
                </div>
            </div>
            <div class="fl w-100 w-25-ns ph4 pv1 pa1-ns cl">
                <div class="shadow-4 bg-animate hover-bg-washed-blue bg-white br3 pa2 mv3 ba b--black-10">
                    <div class="tc">
                        <h1 class="f4">Кадровый учет</h1>
                    </div>
                </div>
            </div>
            <div class="fl w-100 w-25-ns ph4 pv1 pa1-ns">
                <div class="shadow-4 bg-animate hover-bg-washed-blue bg-white br3 pa2 mv3 ba b--black-10">
                    <div class="tc">
                        <h1 class="f4">Консультации по ведению бухгалтерского учета</h1>
                    </div>
                </div>
            </div>
            <div class="fl w-100 w-25-ns ph4 pv1 pa1-ns">
                <div class="shadow-4 bg-animate hover-bg-washed-blue bg-white br3 pa2 mv3 ba b--black-10">
                    <div class="tc">
                        <h1 class="f4">Проведение инвентаризаций</h1>
                    </div>
                </div>
            </div>
            <div class="fl w-100 w-25-ns ph4 pv1 pa1-ns">
                <div class="shadow-4 bg-animate hover-bg-washed-blue bg-white br3 pa2 mv3 ba b--black-10">
                    <div class="tc">
                        <h1 class="f4">Калькуляция и сметы</h1>
                    </div>
                </div>
            </div>
            <div class="fl w-100 w-25-ns ph4 pv1 pa1-ns cl">
                <div class="shadow-4 bg-animate hover-bg-washed-blue bg-white br3 pa2 mv3 ba b--black-10">
                    <div class="tc">
                        <h1 class="f4">Он-лайн доступ к базе 1С</h1>
                    </div>
                </div>
            </div>
            <div class="fl w-100 w-25-ns ph4 pv1 pa1-ns">
                <div class="shadow-4 bg-animate hover-bg-washed-blue bg-white br3 pa2 mv3 ba b--black-10">
                    <div class="tc">
                        <h1 class="f4">Консультации по автоматизации Вашего бизнеса</h1>
                    </div>
                </div>
            </div>
            <div class="fl w-100 w-25-ns ph4 pv1 pa1-ns">
                <div class="shadow-4 bg-animate hover-bg-washed-blue bg-white br3 pa2 mv3 ba b--black-10">
                    <div class="tc">
                        <h1 class="f4">Оптимизация бизнес-процессов </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>
<article class="cf ph3 ph5-ns pv5 center bb b--light-silver" id="fields">
    <div class="center mw8">
        <header class="fn fl-ns w-50-ns pr4-ns pb4 tc tl-ns">
            <h1 class="mb3 mt0 lh-title">Сферы деятельности</h1>
        </header>
        <div class="fn fl-ns w-50-ns">
            <ul class="list pl0">
                <li class="pa3 pa4-ns pt0 pt0-ns bb b--black-10">
                    <b class="db f3 mb1">Торговля (оптовая, розничная)</b>
                </li>
                <li class="pa3 pa4-ns bb b--black-10">
                    <b class="db f3 mb1">
            Общественное питание
                    </b>
                    <!-- <span class="f5 db lh-copy measure">
                        The part of lowercase letters (such as k, b, and d) that ascends above the
                        x-height of the other lowercase letters in a face.
                    </span> -->
                </li>
                <li class="pa3 pa4-ns bb b--black-10">
                    <b class="db f3 mb1">
            Производство
                    </b>
                </li>
                <li class="pa3 pa4-ns bb b--black-10">
                    <b class="db f3 mb1">
            Услуги
                    </b>
                </li>
                <li class="pa3 pa4-ns bb b--black-10">
                    <b class="db f3 mb1">
            Внешнеэкономическая деятельность
                    </b>
                </li>
                <li class="pa3 pa4-ns bb b--black-10">
                    <b class="db f3 mb1">
            ЖКХ
                    </b>
                </li>
                <li class="pa3 pa4-ns bb b--black-10">
                    <b class="db f3 mb1">
            Строительство
                    </b>
                </li>
                <li class="pa3 pa4-ns">
                    <b class="db f3 mb1">
            Электронная коммерция
                    </b>
                </li>
            </ul>
        </div>
    </div>
</article>
<article class="center bg-light-gray bb b--light-silver pb4" id="contact">
    <h2 class="f1-ns f2 dib w-100 tc dark-gray mt5 pv3 mb0 pb0">Контакты и адрес</h2>
    <div id="map-wrapper" class="mt3 pv4 center mw8 cf">
        <div id="map" class="fl w-100 w-50-ns">
            <a href="https://yandex.ru/maps/?um=constructor%3AVBwkHl9-MLdvGvQr8P5rfit2kdJTcjuE&amp;source=constructorStatic" target="_blank"><img src="https://api-maps.yandex.ru/services/constructor/1.0/static/?sid=VBwkHl9-MLdvGvQr8P5rfit2kdJTcjuE&amp;width=500&amp;height=450&amp;lang=ru_RU&amp;sourceType=constructor" alt="" style="border: 0;" /></a>
        </div>
        <div id="contacts" class="tc fl w-100 w-50-ns pt4 pt0-ns">
            <div id="address" class="">
                <h3> Адрес </h3>
                <p>  поселок Ново-Иркутский, Магистральная 11А</p>
            </div>
            <div id="phone" class="mt4">
                <h3> Телефон </h3>
                <p> +7 902 767 49 01 </p>
            </div>
            <div id="email" class="mt4">
                <h3>E-mail</h3>
                <p> info@buhuchet38.ru </p>
            </div>
        </div>
    </div>
</article>
<article class="pb4 bb b--light-silver" id="message">
    <h2 class="f1 dib w-100 tc dark-gray mt5 pv3 mb0 pb0">Оставьте нам сообщение</h2>
    <div class="mt3 mw8 center">
        <form class="black-80" action="/message" method="post">
            <%= csrf_form_tag %>
            <div class="mw7 center">
                    <%= if flash = get_flash(@conn, :error) do %>
                        <span class="red mv2 ph2"> <%= flash %> </span>
                    <% end %>
                <div class="mt3 ph2">
                    <label class="f6 b db mb2" for="email-address">Email адрес</label>
                    <input class="db border-box hover-black w-100 ba b--black-20 pa2 br2 mb2" type="email" name="email"  id="email-address">
                </div>
                <div class="mt3 ph2" >
                    <label for="comment" class="f6 b db mb2">Сообщение</label>
                    <textarea style="min-height: 150px;" name="message" class="db border-box hover-black w-100 ba b--black-20 pa2 br2 mb2"></textarea>
                </div>
                <div class="mt3 tr ph2"><input class="b ph3 pv2 input-reset ba b--gray bg-transparent grow pointer f6" type="submit" value="Отправить"></div>

            </div>
        </form>
    </div>
</article>
